<div>
  <h1 class="font-semibold">Choose document template</h1>
  <p class="mb-8">Select the type of document you would like to generate</p>

  <div class="flex gap-x-4 w-3/4">
    <div class="border p-8 flex flex-col items-center w-full">
      <img height="100" src="/assets/images/degree.svg" />
      <h1 class="my-8">Degree</h1>
      <p class="text-center">
        Select this option if you'd like to award degree to a student
      </p>
      <button
        (click)="navigateTo('/dashboard/issuance')"
        mat-flat-button
        class="mt-4"
      >
        Login to Issuance Portal
      </button>
    </div>
    <div class="border p-8 flex flex-col items-center w-full">
      <img height="100" src="/assets/images/document.svg" />
      <h1 class="my-8">Transcripts</h1>
      <p class="text-center">Semester-wise transcript generation</p>
      <button mat-flat-button class="mt-4">Issue Transcript</button>
    </div>
    <div class="border p-8 flex flex-col items-center w-full">
      <img height="100" src="/assets/images/id_card.svg" />
      <h1 class="my-8">ID Card</h1>
      <p class="text-center">Issue blockchain-enabled identity cards</p>
      <button mat-flat-button class="mt-4">Issue ID Card</button>
    </div>
  </div>
</div>
