<div class="flex flex-col justify-between p-4 2xl:p-8 text-white h-screen">
  <div class="flex flex-col items-center">
    <img width="150" src="/assets/images/text-logo.png" />
    <p class="mt-6 mb-8">Blockchain-based Degrees</p>
    <mat-divider class="mat-divider w-full"></mat-divider>

    <div class="2xl:mt-24 mt-12 w-full">
      <div class="flex justify-center items-center list">
        <img class="icon mr-2" src="/assets/images/document_icon.svg" />
        <a routerLink="/dashboard">Document Issuance</a>
      </div>
      <div class="flex justify-center items-center mt-5 2xl:mt-8 list">
        <img class="icon mr-2" src="/assets/images/retry.svg" />
        <a routerLink="documents">View Documents</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <mat-divider class="mat-divider w-full"></mat-divider>

    <div class="2xl:mt-24 mt-12 text-center">
      <div>UNIVERSITY OF MANAGEMENT</div>
      <div>& TECHNOLOGY</div>
      <div class="2xl:mt-24 mt-12">Demo application v1.0</div>
    </div>
  </div>
</div>
