<div class="flex flex-col justify-between p-8 text-white h-screen">
  <div class="flex flex-col items-center">
    <img width="150" src="/assets/images/text-logo.png" />
    <p class="mt-6 mb-8">Blockchain-based Degrees</p>
    <mat-divider class="mat-divider w-full"></mat-divider>

    <div class="mt-24">
      <div class="flex justify-center items-center">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
          class="mr-4"
        ></mat-icon>
        <a routerLink="/dashboard">Document Issuance</a>
      </div>
      <div class="flex justify-center items-center mt-16">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
          class="mr-4"
        ></mat-icon>
        <a routerLink="documents">View Documents</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <mat-divider class="mat-divider w-full"></mat-divider>

    <div class="mt-24 text-center">
      <div>UNIVERSITY OF MANAGEMENT</div>
      <div>& TECHNOLOGY</div>
      <div class="mt-24">Demo application v1.0</div>
    </div>
  </div>
</div>
