.section {
  background: url("/assets/images/UMT-bg-login.jpg");
  height: 100%;
  width: 100%;
}

.logo {
  width: 150px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  flex: 1.5;
}

.login {
  flex: 2;
  background-color: white;
}

.poweredBy {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 75px);
}

@media only screen and (max-width: 1400px) {
  .logo {
    width: 100px;
  }
}
