.guard-img {
  width: 50px;
  height: 50px;
}

.verified {
  background-color: #e9f7f2;
  border-left: 0.5rem solid #2ab27b;
}

.sign-verified {
  background-color: #57a4ff33;
  border-left: 0.5rem solid #57a4ff;
}

.poweredBy {
  height: 50px;
}
