<mat-drawer-container class="example-container h-screen w-auto">
  <mat-drawer mode="side" opened fixedInViewport="true">
    <app-dashboard-sidebar />
  </mat-drawer>
  <mat-drawer-content class="relative">
    <div class="flex ml-36 items-center p-8">
      <img src="/assets/images/logo.png" class="mr-8 logo" />
      <h1 class="font-semibold text-3xl 2xl:text-4xl">
        University of Management & Technology
      </h1>
    </div>
    <mat-divider></mat-divider>
    <div class="2xl:m-20 m-8">
      <router-outlet />
    </div>
    <img class="fixed poweredBy" src="/assets/images/powered.png" />
  </mat-drawer-content>
</mat-drawer-container>
