/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --mat-sidenav-container-background-color: #171726;
  --mat-sidenav-container-width: 20%;
  --mdc-filled-button-container-color: black;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

button {
  background-color: #000000 !important;
  color: white !important;
  width: 100%;
  border-radius: 0.5rem;
}
